# Playwright
node_modules/
test-results/
blob-report/
playwright-report/

# Playwright auth/cache
playwright/.cache/
playwright/.auth/

# Allure
allure-results/
allure-report/

# Cucumber
cucumber-report/
